.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 80px);
    text-align: center;
    padding: 20px
}

.about-title {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
}

.dance-company-text p,
.about-text p {
    margin-bottom: 1.2em;
}

.about-nav-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about-nav-btn {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 10px;
    transition: all 0.3s;
    display: inline-block;
    background: none;
}
.about-nav-btn:hover, .about-nav-btn:focus {
    background: rgba(255,255,255,0.12);
    color: #fff;
}