.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 80px);
    text-align: center;
    padding: 20px
}

.about-title {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.about-text {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
}