.dance-company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 80px);
    text-align: center;
    padding: 20px;
}

.dance-company-logo {
    width: 300px;
    height: auto;
}

.dance-company-photo {
    width: 500px;
    height: auto;
}

.dance-company-title {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.dance-company-text {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
}

.dance-company-nav-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.dance-company-nav-btn {
    text-decoration: none;
    padding: 10px 20px;
    color: #ddd;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 10px;
    transition: all 0.3s;
    display: inline-block;
}

.dance-company-nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.back-btn {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    transition: all 0.3s;
    display: inline-block;
}

.back-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* --- Mobile Styles --- */
@media screen and (max-width: 768px) {

    .dance-company-container {
        padding: 15px;
        margin: 30px;
        min-height: auto;
    }

    .dance-company-logo {
        width: 100%;
        max-width: 250px;
    }

    h1,
    .dance-company-title {
        font-size: 2rem;
    }

    .dance-company-text {
        font-size: 1rem;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .dance-company-nav-container {
        flex-direction: column;
        gap: 10px;
    }
}