.sweet-escape-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 80px);
    text-align: center;
    padding: 20px;
}

.sweet-escape-logo {
    width: 400px;
    height: auto;
    margin: 30px 0;
}

.sweet-escape-title {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.sweet-escape-text {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.6;
    color:white;
}